.kademlia-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.sidenav {
  height: 100%;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.selected {
  background-color: #007bff;
  color: #fff !important;
}

.sidenav a {
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
  display: block;
}

.sidenav a:hover {
  color: #004a99;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#modal-button-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

#kbuckets-title {
  margin: 10px;
}

#kbuckets {
  margin: 10px;
}

#send-find-node-button {
  display: none;
}

#modal-kbuckets-svg {
  margin-bottom: 10px;
}

#rpc-response-container {
  padding: 10px;
  background-color: bisque;
  border: 1px solid black;
  display: none;
  margin-bottom: 10px;
}

#final-results-container {
  padding: 10px;
  background-color: #5ce876;
  border: 1px solid black;
  display: none;
  margin-bottom: 10px;
}

#bottom-right-container {
  margin-bottom: 10px;
}

#update-kbucket-button {
  display: none;
}

#modal-previous-btn {
  display: none;
}

#simulation-navigation {
  margin-bottom: 20px;
}
